{% extends 'base.html.twig' %}

{% block body %}

    <div style="display: flex; align-items: center;justify-content: center;">
        <h1 style="display: inline">404</h1>
        <h5>Page not Found</h5>
    </div>

{% endblock %}